@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/venirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
         url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), 
         url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), 
         url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold.woff') format('woff'), 
         url('../fonts/Oswald-Bold.ttf')  format('truetype'),
         url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'reklame_script_regular_demoRg';
    src: url('../fonts/reklamescript-regular.eot');
    src: url('../fonts/reklamescript-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/reklamescript-regular.woff2') format('woff2'),
         url('../fonts/reklamescript-regular.woff') format('woff'),
         url('../fonts/reklamescript-regular.ttf') format('truetype'),
         url('../fonts/reklamescript-regular.svg#reklame_script_regular_demoRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 15px;
}

html.no-scroll, html.no-scroll body {
    overflow: hidden;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, .btn {
    font-family: 'Oswald-Bold', sans-serif;
    font-weight: normal;
}

h1 small {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    font-size: 17px;
    color: #fff;
    letter-spacing : 4px;
    line-height: 30px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 38px;
    margin-top: 170px;
    margin-bottom: 2px;
}

h3 {
    font-size: 24px;
}

.page-header
{
    margin-bottom: 65px;
    margin-top: 170px;
    padding-bottom: 0;
    text-align: center;
    border: 0;
}

.panel {
    border: 1px solid #000; 
}

.panel.panel-default {
    border-radius: 0;
    box-shadow: 0;
    border: 0;
    box-sizing: padding-box;
}

.panel-default > .panel-heading
{
    border: 1px solid #000;
    border-bottom: 0;
    background: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.panel-body
{
    border: 3px solid #000;
    border-top: 0;
}

.overlay {
  position: fixed;
  overflow: auto;
  background-color: rgba(0,0,0,0.92);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  display: none;
}

#lien_menu {
    position: fixed;
    top: 27px;
    left: 27px;
    z-index: 1050;
}

#nav {
    background: 000;
    color: #fff;
    background: #000;
    margin: 0;
    padding: 0;
    border: none;
}

#nav .container-fluid {
    margin: 0;
    padding: 0;
}

#nav.affix-top {
    visibility: hidden;
}

#nav.affix {
    visibility: visible;
}

#nav ul, #nav #nav-logo {
    display: inline-block;
}

#menu {
    padding-top: 79px;
}

#menu nav {
    width: 100%;
}

#menu nav a {
    font-family: 'Oswald-Bold', sans-serif;
    font-weight: normal;
    display: block;
    font-size: 58px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 110px;
}

#menu nav a .icon-curseur_droite {
    vertical-align: middle;
    display: none;
}

#menu nav a:hover {
    background: #fff;
    color: #000;
}

#menu nav a:hover .icon-curseur_droite {
    display: inline-block;
}

.slide
{
    padding-bottom: 60px;
}

.container {
    max-width: 1040px;
}

.slide.slide-default
{
    background: #fff; 
    color: #292525;
}

.slide.slide-inverse
{
    background: #000; 
    color: #fff;
}

.gallery a {
    position: relative;
    padding: 0;
}

.gallery img {
    padding: 0;
    width: 100%;
}

.gallery a .gallery-overlay {
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 40%;
}

.gallery a .gallery-overlay p {
    margin-top: 15px;
}

.gallery a:active .gallery-overlay, .gallery a:hover .gallery-overlay {
    display: inline-block;
}

.panel-heading .skills-picto {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn {
    border: 0;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
}

.btn-default:hover
{
    color: #fff;
}

.btn.btn-default {
    background: #212020;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #292525;
}

.form-control:focus {
    border-color: #292525;
    box-shadow: 0px 1px 1px rgba(33, 32, 32, 0.075) inset, 0px 0px 8px rgba(33, 32, 32, 0.6);
}

label {
    font-weight: normal;
}

#photo {
    background: url(../images/photo.png) no-repeat center center;
}

.circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 7;
}
.inCircle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
}
.circleContainer {
  width: 180px;
  height: 180px;
}
.circleText {
    fill: #fff; 
    font-size: 40px; 
    text-anchor: middle;
}

.slide.slide-inverse .circle, .slide.slide-inverse .inCircle {
    stroke: #fff;
}
.slide.slide-default .circle, .slide.slide-default .inCircle {
    stroke: #212020;
}
.slide.slide-inverse .circleText {
    fill: #fff;
}
.slide.slide-default .circleText {
    fill: #212020;
}
.slide.slide-default .circle {
    stroke-width: 3;
}

/* Slide Accueil */

#slide-accueil {
    background: #000 url('../images/cover.jpg') no-repeat center 0;
}

#slide-accueil .container {
    padding-top: 380px;
}

#slide-accueil #accueil-logo {
}

#slide-accueil h1 {
    padding-bottom: 56px;
}

#accueil-scroll {
    font-family: 'reklame_script_regular_demoRg';
    font-size: 20px;
    display: block;
    line-height: 21px;
}

#accueil-chevron {
    width: 11px; 
    height: 11px;
}

/* Slide Hello */

#slide-hello ul.liste-reseaux {
    margin-top: 36px;
}

#slide-hello ul.liste-reseaux li a span {
    font-size: 40px;
}

#slide-hello ul.liste-reseaux li {
    padding-left: 7px;
    padding-right: 6px;
}

#slide-hello ul.liste-reseaux li:hover a span {
    color: #fff;
    background: #000;
}


/* Slide work */

#slide-work {
    max-width: 1200px;
}

/* Slide resume */

#slide-resume p {
    margin-top: 40px;
}