.page-header
{
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center;
    border: 0;
}

.page-header h1
{
    margin-bottom: 0;
}

.panel.panel-default {
    border-radius: 0;
    box-shadow: 0;
    border: 0;
    box-sizing: padding-box;
}

.panel-default > .panel-heading
{
    border: 1px solid #000;
    border-bottom: 0;
    background: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.panel-body
{
    border: 3px solid #000;
    border-top: 0;
}