@font-face {
	font-family: 'picto';
	src:url('../fonts/picto.eot?faet16');
	src:url('../fonts/picto.eot?#iefixfaet16') format('embedded-opentype'),
		url('../fonts/picto.ttf?faet16') format('truetype'),
		url('../fonts/picto.woff?faet16') format('woff'),
		url('../fonts/picto.svg?faet16#picto') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'picto';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
	content: "\e600";
}
.icon-ciseaux:before {
	content: "\e601";
}
.icon-crayon:before {
	content: "\e602";
}
.icon-croix:before {
	content: "\e603";
}
.icon-curseur_droite:before {
	content: "\e604";
}
.icon-cuter:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-fusee:before {
	content: "\e607";
}
.icon-linkedin:before {
	content: "\e608";
}
.icon-logo:before {
	content: "\e609";
}
.icon-mail:before {
	content: "\e60a";
}
.icon-menu:before {
	content: "\e60b";
}
.icon-pinterest:before {
	content: "\e60c";
}
.icon-skype:before {
	content: "\e60d";
}